/* styles.css*/

/* Import Nunito font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Nunito', sans-serif;
    color: #333;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color: #4CAF50;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 50px;
}

p {
    color: #555;
    font-size: 1.2em;
    text-align: left;
    font-weight: 400;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
nav {
    background-color: rgb(126, 167, 192);
    margin: 0px 5px;
    left:0px;
    right:0px;
    padding: 0px;
    top:0px;
    text-align:center;
    position:fixed;
    border-radius: 0 0 25px 25px;
}
  a{
    text-decoration: none;
    color: rgb(36, 60, 78);
    padding-left:15px;
    padding-right:15px;
    font-size: 16px;
  }
  .nav-link {
    color: #000; /* Default color for links */
    text-decoration: none;
}

.nav-link.active {
    color: #333; /* Darker color for the active link */
    font-weight: bold; /* Optional: Make it bold for emphasis */
}
